{% extends 'base.html' %}

{% block content %}
<section class="content-down">
    {% include 'includes/alerts.html' %}
    <div class="container">
        <div class="row">
            {% include 'includes/dashboard_sidebar.html' %}
            <main class="col-md-9">
                <article class="card">
                    <header class="card-header-2">Change Password:
                        <span>{{ user.full_name }}</span>
                    </header>
                    <div class="card-body">
                        <form
                        class="change-form"
                        action="{% url 'change_password' %}"
                        method="POST"
                        >
                            {% csrf_token %}

                            <!-- Current Password -->
                            <div class="form-group">
                                <label>Current Password:</label>
                                <input
                                type="password"
                                name="current_password"
                                placeholder="Current Password"
                                class="form-control"
                                required
                                >
                                {{ profile_form.address_line_1 }}
                            </div>

                            <!-- New Password -->
                            <div class="form-group">
                                <label>New Password:</label>
                                <input
                                type="password"
                                name="new_password"
                                placeholder="New Password"
                                class="form-control"
                                required
                                >
                            </div>

                            <!-- Confirm Password -->
                            <div class="form-group">
                                <label>Confirm Password:</label>
                                <input
                                type="password"
                                name="confirm_new_password"
                                placeholder="Confirm New Password"
                                class="form-control"
                                required
                                >
                            </div>
                            <div class="form-group">
                                <div class="btn-container">
                                    <input type="submit" value="Submit" class="btn">
                                </div>
                            </div>
                        </form>
                    </div>
                </article>
            </main>
        </div>
    </div>
</section>

{% endblock %}
