{% extends 'base.html' %}
{% load static %}

{% block content %}
<section class="content-down">
    <div class="container">

    {% if request.GET.command == 'verification' %}
        <div
            class="container mx-auto alert alert-info text-center"
            role="alert"
            style="max-width: 1024px; margin-top:100px;">
            Happy to have you with us!
            <hr>
            Please verify your account in "Verification Email" we´ve just sent.
            [{{ request.GET.email }}]
            <br>
            <br>
            <a href="{% url 'signin' %}">Sign in</a>
        </div>

    {% else %}
        <div class="card-width-400">
            <div class="card-body">
                <div class="header-1">Sign in!</div>
                {% include 'includes/alerts.html' %}
                <form action="{% url 'signin' %}" method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        <input type="email" class="form-control" placeholder="Email Address" name="email">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" placeholder="Password" name="password">
                    </div>
                    <div class="form-group">
                        <a href="{% url 'reset_password' %}" class="forgot_password">Forgot your Password?</a>
                    </div>
                    <div class="form-group">
                        <div class="btn-container">
                            <button type="submit" class="btn">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
            <p class="no_account">Don't have an account?</p>
            <div class="register">
                <a class="btn" href="{% url 'register' %}">Register here!</a>
            </div>
    {% endif %}
    </div>
</section>
{% endblock %}
