{% extends 'base.html' %}
{% load static %}

{% block content %}
<section class="content-down">
    <div class="container">
        <div class="card-body">
            <div class="row">
                <aside class="col-12 col-md-6">
                    <img class="product_detail-img" src="{{ single_product.images.url }}"></a>
                </aside>
                <main class="col-12 col-md-6 border-left">
                    <form action="{% url 'add_cart' single_product.id %}" method="POST">
                        {% csrf_token %}

                        <!-- Product Select -->
                        <article class="product_detail-select">
                            <div class="product_detail-header">{{ single_product.product_name }}</div>
                            <div class="mb-3">
								<var class="product_detail-price">$ {{single_product.price}}</var>
							</div>
							<p>{{ single_product.description }}</p>

                            <!-- Color Select -->
                            <div class="form-group">Choose Color:
                                <select name="color" class="form-control" required>
                                    <option value="" disabled selected>Select</option>
                                    {% for variation in single_product.variation_set.colors %}
                                        <option value="{{ variation.variation_value }}">
                                            {{ variation.variation_value }}
                                        </option>
                                    {% endfor %}
                                </select>
                            </div>

                            <!-- Size Select -->
                            <div class="form-group">Select Size:
                                <select name="size" class="form-control">
                                    <option value="" disabled selected>Select</option>
                                    {% for variation in single_product.variation_set.sizes %}
                                        <option value="{{ variation.variation_value }}">
                                            {{ variation.variation_value }}
                                        </option>
                                    {% endfor %}
                                </select>
                            </div>
                            {% if single_product.stock <= 0 %}
                                <h5 class="text-danger">Out of Stock</h5>
                            {% else %}
                                <div class="btn-container">
                                    <button type="submit" class="btn">
                                        <span class="text">Add to cart</span>
                                        <i class="fas fa-shopping-cart"></i>
                                    </button>
                                </div>
                            {% endif %}
                        </article>
                    </form>
                </main>
            </div>
        </div>

        <!-- Customer Review -->
        <div class="col-md-8">
            <header class="review-header">Customer Reviews:</header>
            <div class="review-container">
                <img class="review-img" src="{% static 'images/avatars/avatar1.png' %}">
                <p class="review-date">11.05.2020, </p>
                <p class="review-name">Mark Johnson:</p>
                <p class="review-text">
                    <i>
                        Great Service, Great Clothes and Great Prices! I´ll buy everything from I SHOP from now on!!!
                    </i>
                </p>
            </div>
        </div>
    </div>
</section>
{% endblock %}
