/*                                  Fonts */
@font-face {
    font-family:"junegull";
    src: url('/static/fonts/junegull.otf') format('OpenType');
}

@font-face {
    font-family: "VarelaRound-Regular";
    src: url('/static/fonts/VarelaRound-Regular.ttf') format('TrueType');
}

/*                                  General */
html,body {
    height: 100%;
    margin: 0;
}

html {
    background-image: url("/static/images/misc/concrete.png");
    background-repeat: repeat;
}


body {
    font-family: "VarelaRound-Regular";
    font-size: 14px;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    background-color: transparent;
}


/* Push Body down from Navbar */
.content-down {
    margin-top: 80px;
}

/* Push Body in middle up from Footer*/
.container {
    margin: 0 auto 20px;
}

/*                                  Title - Page */
.header-1 {
    font-family: "junegull";
}

.title-26 {
    font-family: "junegull";
}

/*                                  Title - Item */
.product-title {
    display: block;
    color: #333;
    text-decoration: none;
    margin-bottom: 5px;
    transition: color 0.3s ease;
}

.product-title:hover {
    text-decoration: none;
    color: #1c7e48;
}

/*                                  Pagination - Container */
.pagination {
    justify-content: center;
}

/*                                  Pagination - Item */
.pagination a {
    color: #000;
}

.pagination a:active,
.pagination a:focus,
.pagination a:hover {
    color: #fff;
    background-color: #004078;
}

/*                                  DASHBOARD_SIDEBAR.HTML */
.list-group {
    border: none;
}

.sidebar-btn-container {
    margin: 20px 0;
}

.list-group-item {
    font-family: "junegull";
    color: #000;
    border: none;
    background-color: #ffc3e0be;
}

.list-group-item:hover {
    color: #004078;
    background-color: #db9cbb;
}

.list-group-item.active {
    color: #004078;
    background-color: #db9cbb;
}

.icon-control {
  margin-top: 5px;
  float: right;
  font-size: 80%;
}

/*                                  DASHBOARD.HTML */
.dash-orders {
    font-family: "junegull";
    color: #000;
    padding: 2px;
    color: #000;
    text-decoration: none;
    border: 2px outset #000;
    border-radius: 5px;
}

.dash-orders:hover {
    color: #004078;
    text-decoration: none;
    border: 2px outset #004078;
}

.dash-img {
    width: 150px;
    height: auto;
    border-radius: 2px;
    border: transparent;
}

.dash-text {
    margin:5px;
    color:#000;
}

/*                                  MY_ORDERS.HTML */
.my-header {
    color: #000;
    font-weight: 500;
}

/*                                  EDIT_PROFILE.HTML */
.edit-form {
    padding: 0 40px;
    color: #000;
}

/*                                  CHANGE_PASSWORD.HTML */
.change-form {
    padding: 0 40px;
    color: #000;
}

/*                          Header - CARD */
.card {
    background-color: transparent;
}

/*                      Container - CARD */
.card-width-400 {
    margin: 0 auto;
    width: 90%;
    max-width: 400px;
}

/*                           Body - CARD */
.card-body {
    background-color: #30303137;
    border-color: transparent;
}

/*                          Group - FORM */
.form-group {
    margin: 10px;
    color: #000;
}

/*                        Control - FORM */
.form-control {
    color: #000;
    font-size: 14px;
}

/*                                  CART.HTML */
.cart-card {
    border: none;
}

.cart-product-header {
    text-align: center;
}

.cart-items {
    text-align: center;
}

.cart-text {
    color: #000;
}

.cart-img {
    width: 150px;
    height: auto;
}


/*                                  CHECKOUT.HTML */
.checkout-container {
    max-width: 400px;
    margin: 20px auto;
    padding: 10px;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    background-color: #30303137;
}

/*                                  BUTTON */
.btn-container {
    margin-top: 20px;
}

.btn {
    font-family: "junegull", "sans-serif";
    border: 3px solid #000;
    border-style: outset;
    color: #000;
    background-color: transparent;
    text-align: center;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
}

.btn:hover {
    color: #004078;
    background-color: #30303137;
    border: 3px solid #004078;
    border-style: outset;
}

.btn-small {
    font-family: "junegull";
    font-size: 12px;
    border: none;
    padding: 5px;
    color: #000;
    background-color: transparent;

}

/*                                  HOME.HTML */
.home-intro {
    font-family: "junegull";
    text-align: center;
    padding: 0px;
}

.section-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.product-row {
    display: flex;
    flex-wrap:  wrap;
    gap: 20px;
    justify-content: center;
}

.col-md-3 {
    flex: 1 1 calc(25% - 20px);
    max-width: calc(25% - 20px);
    transition: transform 0.2s ease;
}

.card-product-grid {
    padding: 2px;
    border: transparent;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.229);
    overflow: hidden;
    background: linear-gradient(135deg, #f1f0f0b4, #ffc3e0ac);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card-product-grid:hover {
    transform:  scale(1.05);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
}

.img-wrap {
    display: block;
    overflow: hidden;
    width: 100%;
    aspect-ratio: 1/1;
    border-radius: 5px;
}

.img-wrap img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    transition: transform 0.3s ease;
}

.info-wrap {
    font-family: "junegull";
    text-align: center;
}

.price {
    color:#1c7e48;
}

/*                                  PRODUCTS.HTML */
/* Categories Header */
.card-header {
    font-family: "junegull";
    background-color: #d58db0dd;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Clothing Category Item Container */
.list-menu {
  list-style: none;
  text-align: right;
}

/* Clothing Category Item */
.filter-group a {
    text-decoration: none;
    color: #000;
}

/* Clothing Category Item: Hover */
.list-menu a:hover {
    color: #004078;
}


/*                                  SIGNIN.HTML */
/*                         Forgot - SIGNIN */
.forgot_password {
    color: #000;
    text-decoration: none;
    border-bottom: 1px solid #000;
}

.forgot_password:hover {
    color: #004078;
    text-decoration: none;
    border-bottom: 1px solid #004078;
}

/*                     No Account - SIGNIN */
.no_account {
    text-align: center;
    text-decoration: none;
    margin-top: 20px;
    color: #000;
}

/*                       Register - SIGNIN */
.register {
    text-align: center;
}

.register a {
    text-decoration: none;
    color: #000;
    border-bottom: 1px solid #000;
}

.register a:hover {
    color: #004078;
    text-decoration: none;
    border-bottom: 1px solid #004078;
}

/*                                  REGISTER.HTML */
/*                         signin - REGISTER */
.signin {
    text-align: center;
}

.signin a {
    text-decoration: none;
    color: #000;
    border-bottom: 1px solid #000;
}

.signin a:hover {
    color: #004078;
    text-decoration: none;
    border-bottom: 1px solid #004078;
}

/*                                  PRODUCT_DETAIL.HTML */
.product_detail-select {
    margin: 20px;
    font-size: 16px;
}

.product_detail-header,
.product_detail-price {
    font-family: "junegull";
}

.product_detail-price {
    color:#1c7e48;
}


.review-header {
    font-family: "junegull";
    border-bottom: 1px solid #2c2c2c;
}

.review-container {
    background-color: #30303137;
    border-style: transparent;
}

.review-img {
    margin-bottom: 5px;
    border-style: transparent;
}

.review-date,
.review-name,
.review-text {
    margin-bottom: 0;
    padding-bottom: 0;
}


.review-date,
.review-name {
    font-weight: bold;
}



/*                                  FOOTER.HTML */
.footer {
    font-family: "Jost*";
    font-size: 12px;
    position: relative;
    width: 100%;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    z-index: 1000;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
    color: #3d3c3c;
    background-color: #ffc3e0e9;
    border: transparent;
    margin-top: auto;
}

.contact-info {
    display: block;
}

.footer-center {
    text-align: center;
}

.footer-right i {
    font-size: 26px;
    margin-left: 10px; /
}

.footer-right i:hover {
    color: #007bff;
}

/*                                  SMALL SCREENS */
@media (max-width: 768px) {
    /*                       Home - SMALL*/
    .home-intro {
        font-size: 38px;
        letter-spacing: 2px;
        margin: 40px 0 50px 0;
        animation: text-shadow-animation 4s infinite alternate;
    }

    @keyframes text-shadow-animation {
    0% {
        color:#e9eaea;
        text-shadow: none;
    }

    100% {
        color:#e9eaea;
        text-shadow: 1px 0px 0 #00000025,
                     2px 0px 0 #00000030,
                     4px 0px 0 #00000040;
        }
    }

    /*             Product_detail - SMALL */
    .product_detail-select {
        font-size: 14px;
    }

    .product_detail-header {
        font-size: 18px;
    }

    .product_detail-price {
        font-size: 16px;
    }

    .review-header {
        font-size: 18px;
        margin: 10px 0;
    }

    .review-container {
        font-size: 12px;
        margin-top: 5px;
        padding: 5px;
    }

    .review-img {
        max-width: 90px;
    }

    /*                   Products - SMALL */
    .card-header {
        font-size: 14px;
    }

    .arrow-down {
        width: 12px;
        height: 12px;
    }

    .list-menu {
        font-size: 14px;
        margin-bottom: 0;
    }

    .border-header-container {
        margin-top: 20px;
    }

    /*          Dashboard_sidebar - MEDIUM */
    .list-group {
        font-size: 16px;
    }

    /*                    General - SMALL */
    .header-1 {
        font-size: 20px;
    }

    .btn {
        font-size: 14px;
        padding: 3px;
    }

    .col-md-3 {
        flex: 1 1 calc(50% - 20px);
        max-width: calc(50% - 20px);
    }

    .card-width-400 {
        width: 80%;
    }

    /* Footer */
    .footer {
        flex-direction: column;
        text-align: center;
    }

    .footer-left,
    .footer-center,
    .footer-right {
        margin-bottom: 5px;
    }
}

/*                                  MEDIUM SCREENS */
@media (min-width: 769px) and (max-width: 1200px) {
    /*                       Home - MEDIUM */
    .home-intro {
        font-size: 64px;
        letter-spacing: 3px;
        margin: 20px 0px 40px 0px;
        animation: text-shadow-animation 4s infinite alternate;
    }

    @keyframes text-shadow-animation {
    0% {
        color:#e9eaea;
        text-shadow: none;
    }

    100% {
        color:#e9eaea;
        text-shadow: 2px 0px 0 #00000025,
                     4px 0px 0 #00000030,
                     8px 0px 0 #00000040;
        }
    }

    /*             Product_detail - MEDIUM */
    .product_detail-header {
        font-size: 24px;
    }

    .product_detail-price {
        font-size: 20px;
    }

    .product_detail-img {
        width: 90%;
        height: auto;
    }

    .review-header {
        font-size: 20px;
        margin: 10px 0;
    }

    .review-container {
        font-size: 14px;
        margin-top: 10px;
        padding: 5px;

    }

    .review-img {
        max-width: 100px;
    }

    /*                   Products - MEDIUM */
    .card-header {
        font-size: 16px;
    }

    .arrow-down {
        width: 12px;
        height: 12px;
    }

    .list-menu {
        font-size: 16px;
    }

    /*          Dashboard_sidebar - MEDIUM */
    .list-group {
        font-size: 16px;
    }

    /*                    General - MEDIUM */
    .header-1 {
        font-size: 24px;
    }

    .btn {
        font-size: 14px;
    }

    .list-menu

}

/*                                  LARGE SCREENS */
@media (min-width: 1201px) {
    /*                       Home - LARGE */
    .home-intro {
        font-size: 86px;
        letter-spacing: 5px;
        margin: 40px 0px 60px 0px;
        animation: text-shadow-animation 4s infinite alternate;
    }

    @keyframes text-shadow-animation {
      0% {
        color:#e9eaea;
        text-shadow: none;
      }

      100% {
        color:#e9eaea;
        text-shadow: 4px 0px 0 #00000025,
                     8px 0px 0 #00000030,
                     12px 0px 0 #00000040;
        }
    }
    /*             Product_detail - LARGE */
    .product_detail-header {
        font-size: 32px;
    }

    .product_detail-price {
        font-size: 26px;
    }

    .review-header {
        font-size: 22px;
        margin: 20px 0;
    }

    .review-container {
        font-size: 16px;
        margin-top: 20px;
        padding: 15px;
    }

    .review-img {
        max-width: 150px;
    }

    /*                   Products - LARGE */
    .card-header {
        font-size: 20px;
    }

    .arrow-down {
        width: 20px;
        height: 20px;
    }

    .list-menu {
        font-size: 18px;
        padding: 5px;
    }

    /*          Dashboard_sidebar - LARGE */
    .list-group {
        font-size: 18px;
    }


    /*                    General - LARGE */
    .header-1 {
        font-size: 32px;
    }

    .btn {
        font-size: 16px;
    }


}