/*                                          - NAVBAR */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    max-width: 1300px;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0px;
    z-index: 1000;
    align-items: center;
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
    background-color: #ffc3e0be;
}
/*                                  Navbar - Nav */
.navbar-nav {
    flex-direction: row;
    display: flex;
    align-items: center;
}

/*                                  Navbar - Dropdown */
.navbar-nav .dropdown-menu {
    position: absolute;
    background-clip: padding-box;
    border-radius: 5px;
    background-color: #FFF;
}

.navbar-nav .dropdown-menu:hover  {
    color: #000;
    background-color: #e7eff8;
}

/*                                  Navbar - Toggler */
.navbar-toggler {
    border: none;
    outline: none;
    box-shadow: none;
    background-color: transparent;
    padding: 0;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler:hover {
    border: none;
    outline: none;
    box-shadow: none;

}

/*                                  Navbar - Toogler - Icon */
.navbar-toggler-icon {
    display: block;
    margin-top:5px;
    width: 30px;
    height: 35px;
    background-color: #000;
    mask: url("/static/images/misc/lines_15641347.png") no-repeat center;
    -webkit-mask: url("/static/images/misc/lines_15641347.png") no-repeat center;
    mask-size: contain;
    -webkit-mask-size: contain;
    transition: background-color 0.2s ease, transform 0.2s ease;
}

.navbar-toggler-icon:hover {
    filter: invert(31%) sepia(88%) saturate(2997%) hue-rotate(200deg) brightness(50%) contrast(94%);
}

.navbar-toggler.open .navbar-toggler-icon {
    transform: rotate(45deg);
}


/*                                  Navbar - Brand */
.navbar-brand {
    display: flex;
    align-items: center;
    position: relative;
    font-family: "junegull";
    font-size: 32px;
    color: #000;
}

.navbar-brand:hover {
    color: #004078;
}

/*                                  Navbar - Link */
.nav-link {
    position: relative;
    display: inline-flex;
    align-items: center;
    font-family: "junegull";
    color: #000;
}

.nav-link:hover,
.nav-link:focus,
.nav-link:active {
    color: #004078;
}

.right-items {
    margin-left: auto;
    display: flex;
    align-items: center;
}

/*                                  Navbar - Cart */
.cart {
    border-radius: 5px;
}

/*                                  Navbar - Cart - Notify */
.navbar-nav .nav-item .nav-link .notify {
    position: relative;
    top: 0;
    right: -5px;
    color: #fff;
    font-size: 14px;
    padding: 0;
    z-index: 1050;
}

/*                                  Navbar - Search */
.search-form {
    display: flex;
    border-radius: 5px;
    margin-right: 5px;
}

.search-form:hover {
    color: #004078;
}

/*                                  Navbar - Search - Input */
.search-input {
    font-family: "Typo Grotesk";
    padding-left: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: none;
}

.search-input:focus {
  outline: none;
}

.search-input::placeholder {
    font-family: "junegull";
    color: #c0adb6
}

/*                                  Navbar - Search - Button */
.search-btn {
    border: none;
    background-color: #fff;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.search-btn:hover {
    color: #004078;
}

/* ================================> 1200PX */
@media (max-width: 1200px) {
    .navbar-collapse {
        display: flex;

    }
    .nav-link {
        margin: 0 10px;
    }

}