{% load static %}
<footer class="footer">
    <div class="footer-left">
        <span>&copy; 2024 ISHOP</span>
    </div>
    <div class="footer-center">
        <span class="contact-info px-2">ishop@info.com</span>
        <span class="contact-info px-2">00 007 049 417</span>
        <span class="contact-info px-2">East Gate 43, London Square</span>
    </div>
    <div class="footer-right">
        <i class="fab fa-cc-visa"></i>
        <i class="fab fa-cc-paypal"></i>
        <i class="fab fa-cc-mastercard"></i>
    </div>
</footer>