{% load static %}

{% block extra_css %}
    <link href="{% static 'css/navbar.css' %}" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block header %}
<header>
    <nav class="navbar navbar-expand">
        <div class="container-fluid">
            <!-- Navbar Brand -->
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="navbar-brand" href="{% url 'home' %}">I Shop</a>
                </li>
            </ul>

            <!-- Toggler -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!-- Navbar Content -->
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <!-- Categories and Links -->
                <ul class="navbar-nav me-auto">
                    <!-- Categories Dropdown -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle btn" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Categories
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="{% url 'products' %}">All Products</a></li>
                            {% for category in links %}
                                <li><a class="dropdown-item" href="{{ category.get_url }}">{{ category.category_name }}</a></li>
                            {% endfor %}
                        </ul>
                    </li>

                    <!-- All Products Link -->
                    <li class="nav-item">
                        <a class="nav-link btn" href="{% url 'products' %}">All Products</a>
                    </li>
                </ul>

                <!-- Search Form -->
                <form class="search mx-auto" action="{% url 'search' %}"  method="GET">
                    <div class="input-group w-100">
                        <input type="text" class="form-control" style="width:60%;" placeholder="Search" name="keyword">
                        <div class="input-group-append">
                            <button class="search-btn" type="submit">
                                <i class="fa fa-search"></i>
                            </button>
                        </div>
                    </div>
                </form>

                <!-- User and Cart Links -->
                <ul class="navbar-nav ms-auto">
                    <!-- Account Dropdown -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="{% url 'dashboard' %}" id="navbarAccountDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Account
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            {% if user.id is None %}
                                <li><a class="dropdown-item" href="{% url 'signin' %}">Login</a></li>
                                <li><a class="dropdown-item" href="{% url 'register' %}">Register</a></li>
                            {% else %}
                                <li><a class="dropdown-item" href="{% url 'dashboard' %}">Dashboard</a></li>
                                <li><a class="dropdown-item" href="{% url 'signout' %}">Logout</a></li>
                            {% endif %}
                        </ul>
                    </li>

                    <!-- Cart Link -->
                    <li class="nav-item me-3">
                        <a class="nav-link" href="{% url 'cart' %}">
                            <i class="fa fa-shopping-cart"></i>
                            <span class="badge badge-pill badge-danger notify ml-1">{{ cart_count }}</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
{% endblock %}

