{% load static %}

<!-- Navbar 1: Static -->
<nav class="navbar navbar-expand-lg navbar-light border-bottom top-navbar">
    <div class="nav1-container">
        <ul class="navbar-nav mr-auto">
            <!-- Language -->
            <li class="nav-item">
                <a href="#" class="nav-link">English</a>
            </li>

            <!-- Currency -->
            <li class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" id="currencyDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">USD</a>
                <div class="dropdown-menu" aria-labelledby="currencyDropdown">
                    <a class="dropdown-item" href="#">EUR</a>
                    <a class="dropdown-item" href="#">AED</a>
                    <a class="dropdown-item" href="#">RUBL</a>
                </div>
            </li>

            <!-- Email -->
            <li class="nav-item">
                <a href="#" class="nav-link">
                    <i class="fa fa-envelope"></i> Email
                </a>
            </li>

            <!-- Call Us -->
            <li class="nav-item">
                <a href="#" class="nav-link">
                    <i class="fa fa-phone"></i> Call us
                </a>
            </li>
        </ul>
    </div>
</nav>

<!-- Navbar 2: Collapsible -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">

        <!-- Navbar Brand -->
        <a class="navbar-brand" href="{% url 'home' %}">I Shop</a>

        <!-- Search Form -->
            <form class="d-flex mx-3">
                <input class="form-control me-2" type="search" placeholder="Search" name="keyword" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>

        <!-- Toggler -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Collapsible Content -->
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <div class="d-flex align-items-center justify-content-between w-100">

                <!-- Navigation Links -->
                <ul class="navbar-nav me-auto">
                    <!-- Categories Dropdown -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Categories
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="{% url 'products' %}">All Products</a></li>
                            {% for category in links %}
                                <li><a class="dropdown-item" href="{{ category.get_url }}">{{ category.category_name }}</a></li>
                            {% endfor %}
                        </ul>
                    </li>

                    <!-- All Products Link -->
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'products' %}">All Products</a>
                    </li>


                </ul>



                <!-- User Section with Cart -->
                <div class="d-flex align-items-center">
                    <!-- Welcome Message and Links -->
                    <div class="me-4 text-end">
                        {% if user.id is None %}
                            <small class="title text-muted">Welcome Guest!</small>
                            <div>
                                <a href="{% url 'signin' %}">Login</a> <span class="dark-transp"> | </span>
                                <a href="{% url 'register' %}">Register</a>
                            </div>
                        {% else %}
                            <small class="title text-muted">Welcome {{ user.first_name }}!</small>
                            <div>
                                <a href="{% url 'dashboard' %}">Dashboard</a> <span class="dark-transp"> | </span>
                                <a href="{% url 'signout' %}">Logout</a>
                            </div>
                        {% endif %}
                    </div>

                    <!-- My Cart Button -->
                    <div>
                        <a href="{% url 'cart' %}" class="btn btn-outline-primary">
                            <i class="fa fa-shopping-cart"></i> My Cart
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>
