{% extends 'base.html' %}
{% load static %}

{% block content %}
<section class="content-down">
	<div class="container">

		<!-- Review and Place order -->
		<h4 class="header-1">Review and Place order</h4>
		<div class="row">
			<aside class="col-lg-8">

				<!-- Billing Address -->
				<div class="card">
					<header class="card-header">Billing Address:</header>
					<div class="card-body">
						<div class="card-text">{{order.full_name}}</div>
						<div class="card-text">{{order.full_address}}</div>
						<div class="card-text">{{order.city}}</div>
						<div class="card-text">{{order.country}}</div>
						<div class="card-text">{{order.email}}</div>
						<div class="card-text">{{order.phone}}</div>
						{% if order.order_note %}
							<b>Note:</b> {{order.order_note }}
						{% endif %}
					</div>
				</div>

				<!-- Payment Method -->
				<div class="card">
					<div class="card-header">Payment Method:</div>
					<div class="card-body">
						<p class="card-text">PayPal</p>
					</div>
				</div>

				<!-- Cart Items -->
				<div class="card">
					<!-- Cart Items - Card Header -->
					<h6 class="card-header">Cart:</h6>
					<div class="card-body">
						<table class="table table-borderless">
							<!-- Cart Items - Items Header -->
							<thead>
								<tr>
									<th
										class="cart-header"
										scope="col" width="200">Product:
									</th>
                                	<th
										class="cart-header"
										scope="col"width="110">Quantity:
									</th>
                                	<th
										class="cart-header"
										scope="col"width="110">Price
									</th>
								</tr>
							</thead>

							<tbody class="cart-body">
								{% for cart_item in cart_items %}
								<tr>
									<td>
										<figure class="cart-item">
											<div class="aside">
												<img
													src="{{ cart_item.product.images.url }}"
													class="cart-img"
												>
											<figcaption class="info">
												<a
													href="{{ cart_item.product.get_url }}"
													class="cart-info-link">
													{{ cart_item.product.product_name }}
												</a>
												<p>
													{% if cart_item.variations.all %}
														{% for item in cart_item.variations.all %}
															{{ item.variation_category | capfirst }} : {{ item.variation_value | capfirst }} <br>
														{% endfor %}
													{% endif %}
												</p>
											</figcaption>
										</figure>
									</td>
									<td class="payments-quantity">
										<label for="">{{cart_item.quantity}}</label>
									</td>
									<td>
										<div class="text-center">
											<var
												class="cart-price">
												$ {{ cart_item.sub_total }}
											</var>
											<small
												class="text small">
												$ {{ cart_item.product.price }} each
											</small>
										</div>
									</td>
								</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
				</div>
			</aside>

			<aside class="col-lg-4">
				<div class="card">
					<div class="card-body">
						<dl class="dlist-align">
							<dt>Total price:</dt>
							<dd class="text-right"> ${{total}}</dd>
						</dl>
						<dl class="dlist-align">
							<dt>Tax:</dt>
							<dd class="text-right"> ${{tax}}</dd>
						</dl>
						<dl class="dlist-align">
							<dt>Grand Total:</dt>
							<dd class="text-right text-dark b">
								<strong> ${{grand_total}}</strong>
							</dd>
						</dl>
						<hr>
						<p class="text-center mb-3">
							<img
								src="{% static './images/misc/payments.png' %}"
								height="26"
							>
						</p>
						<div id="paypal-container"></div>
					</div>
				</div>
			</aside>
		</div>
	</div>
</section>

<script src="{% static 'js/paypal.js' %}"></script>

{% endblock %}
